<!-- <h2>Profile</h2>

<form action="" method="post">
  {% csrf_token %}
  {{ user_form }}
  {{ profile_form }}


  {% if manager_form %}
  I am Manager
  {{manager_form}}
  {% else %}
  I am employee
  {{station_emp_form}}
  {% endif %} -->

<!-- if Driver show and edit Crew Status -->

<!-- {% if station_emp_form %}

  {% if station_emp_form.job_title.value == "Driver" %}
  <h5>I am Driver</h5>
  {% endif %}

  {% endif %} -->


<!-- 
  <div class="submission">
    <div class="row">
      <button type="submit" class="btn btn-success mt-4 mr-3">Save Changes</button>
      <button type="reset" class="btn btn-primary mt-4">Reset</button>
      <a class="btn btn-primary mt-4 ml-auto" type="button" href="{% url 'password_change' %}" role="button">Change
        Password</a> -->


<!-- {% if manager_form %} -->
<!-- for manager control page -->
<!-- <a class="btn btn-primary mt-4 ml-auto" type="button" href="{% url 'accounts:manager' %}" role="button">Manager
        Control</a>
      {% endif %} -->

<!-- {% if station_emp_form %} -->
<!-- for driver control page -->
<!-- <a class="btn btn-primary mt-4 ml-auto" type="button" href="{% url 'accounts:driver' %}" role="button">Driver
        Control</a>
      {% endif %} -->

<!-- 
    </div>
  </div>

</form> -->





{% load static %}

<!-- front end -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'css/index6.css' %}" />
  <title>Profile Page</title>
</head>

<body>
  <div class="card_container">
    <form action="">
      <div class="card">
        <div class="info1">
          <div class="profile_img">
            <img src="{% static 'images/doctor.svg' %}" alt="" />
          </div>
          <div class="person_data">
            <div id="fname" class="name">
              <h1>{{profile.employee_name}}</h1>
            </div>
            <div id="fname" class="job">

              {% if manager %}
              <p>Manager</p>

              {% elif station_emp.job_title == "Paramedic" %}
              <p>Paramedic</p>
              {% elif station_emp.job_title == "Driver" %}
              <p>Driver</p>
              {% endif %}


            </div>
          </div>
        </div>
        <div class="info2">
          <div class="col1">
            <div class="personal_phone">
              <p> phone </p>
              <input type="unmber" id="number" class="change" value="{{profile.phone_number}}" name="umber" />
            </div>
            <div class="personal_national_num">
              <p> ID </p>
              <input type="unmber" id="test" class="change" value="{{profile.national_number}}" name="umber" />
            </div>
          </div>

          <div class="col2">
            <div class="personal_birthday">
              <p> birth date </p>
              <input type="unmber" id="test" class="change" value="{{profile.birth_date}}" name="umber" />
            </div>
            <div class="personal_address">
              <p> address </p>
              <input type="unmber" id="test" class="change" value="{{profile.address}}" name="umber" />
            </div>
          </div>
        </div>
        <div class="info3">
          <div class="info_for_person">

            <div class="box">
              <div class="infobox">
                <img src="{% static 'images/placeholder.svg' %}" alt="" />

                {% if station_emp %}
                <p>station id</p>
                <input type="unmber" id="test" class="change" value="{{station_emp.station.station_id}}" name="umber" />
                {% endif %}
                {% if manager %}
                <p>station id managed</p>
                <input type="unmber" id="test" class="change" value="{{manager.station.station_id}}" name="umber" />
                {% endif %}

              </div>

              <div class="infobox">
                {% if station_emp %}
                <img src="{% static 'images/id.svg' %}" alt="" />
                <p>crew id</p>
                <input type="unmber" id="test" class="change" value="{{station_emp.crew.crew_id}}" name="umber" />
                {% endif %}
              </div>
              <!-- <div class="infobox">
                <img src="{% static 'images/team.svg' %}" alt="" />
                <p> crew status</p>
                <input type="unmber" id="test" class="change" value="test" name="umber" />
              </div> -->
            </div>
          </div>
        </div>
        <div class="butbox">
          

          {% if manager %}
          <!-- for manager control page -->
            <a href="{% url 'accounts:manager' %}"> <button type="button" id="Change" class="signupbtn">Manager Page</button>
            </a>
          {% elif station_emp.job_title == "Driver" %}
          <!-- for driver control page -->
            <a href="{% url 'accounts:driver' %}"> <button type="button" id="Change" class="signupbtn">Driver Page</button>
            </a>
            {% elif station_emp.job_title == "Paramedic" %}
            <!-- for driver control page -->
              <a href="{% url 'accounts:paramedic' %}"> <button type="button" id="Change" class="signupbtn">Paramedic Page</button>
              </a>
          {% endif %}

        </div>
    </form>
  </div>






</body>

</html>