body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container1 {
  height: 100vh;
}
.main_cont {
  background: linear-gradient(90deg, #0162c8, #55e7fc);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sub {
  text-align: center;
}
.img_cont img {
  width: 120px;
  height: 120px;
  margin: 20px;
}
.info1_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info1_box > .row {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
label {
  font-size: 3em;
  color: aliceblue;
  text-transform: capitalize;
}
input {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 2px solid #f7d291;
  background-color: unset;
  margin: 0 10px;
  color: black;
  font-size: 2em;
  text-transform: capitalize;
  text-align: center;
}
.info2_box .row {
  display: flex;
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info2_box .row input {
  width: 40%;
}
.title {
  display: flex;
  justify-content: space-evenly;
}
